services:
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: secure_password_123
      MYSQL_ROOT_PASSWORD: root_password

  wordpress:
    image: aryandhamnetsmartz/my-wp-site:latest 
    ports:
      - "80:80"
    depends_on:
      - db
    restart: always

volumes:
  db_data:
