name: Docker CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Azure via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         script: |
            cd ~/mywebserver
            # Forcing the VM to match GitHub exactly
            git fetch --all
            git reset --hard origin/main
            
            # Restart Docker
            sudo docker-compose down
            sudo docker-compose up -d --build 
